# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/apps/web/.next/
/apps/web/out/

# Expo
/apps/mobile/.expo/
/apps/mobile/ios/
/apps/mobile/android/
/apps/mobile/web-build/
/apps/mobile/dist/
/apps/mobile/node_modules/

# production
/build
/apps/web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
